.root {
    -fx-background-color: #EEEEEE;
}

.label {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: #444444;
}

.button {
    -fx-background-color: linear-gradient(#3593a1, #1e5c9d),
    radial-gradient(center 50% -40%, radius 200%, #31a4cd 45%, #1e7cc9 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #a6e0ff;
    -fx-min-width: 228;
    -fx-alignment: center;
}

.button:hover {
    -fx-background-color: linear-gradient(#50e0ff, #20a0ff),
    radial-gradient(center 50% -40%, radius 200%, #50e0ff 45%, #20a0ff 50%);
    -fx-text-fill: #103550;
}

.button:pressed {
    -fx-background-color: #40cfff,
    linear-gradient(rgba(100, 180, 240, 0.5), rgba(15, 70, 100, 0.7), rgba(100, 180, 240, 0.5));
    -fx-text-fill: #103550;
}

.slider {
    -fx-focus-traversable: false;
    -fx-block-increment: 0.0px;
    -fx-max-height: 20px;
    -fx-min-height: 20px;
    -fx-min-width: 200px;
    -fx-max-width: 200px;
    -fx-highlight-fill: #20a0ff;
}

.slider .track {
    -fx-background-color: null;
}

.progress-bar {
    -fx-max-height: 16px;
    -fx-min-height: 16px;
    -fx-min-width: 200px;
    -fx-max-width: 200px;
    -fx-highlight-fill: #20a0ff;
}